body {
  margin: 0;
  padding: 0;
  font-family: "Krona One", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:rgb(999, 999, 999)
}

code {
  font-family: "Krona One", Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
